*{
    box-sizing: content-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vw;
    background-color: #ffffff;
    background-image: url("https://imgur.com/a/qWfF8YO");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.memories{
    background: transparent;
    padding: 20px;
    text-align: center;

}
.heading{
    text-align: center;
    font-size: 4rem;
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-bottom: 3rem;

}


.line-1{
    position: absolute;
    top: 80px;  
    left: 20px;
    width: 24em;
    margin: 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 3em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}


button{
    border: none;
    background: none;
    cursor: pointer;
    background-color: #e97e7e;
}


